<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div>
  <mat-form-field appearance="outline" >
    <mat-label>Search text</mat-label>
    <input type="text" matInput placeholder="Movie name" [(ngModel)]="searchValue" >   
  </mat-form-field>
</div>
<div>
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">    
    <ng-container matColumnDef="moviename">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.movieName}} </td>
      </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</div>
<div >
  <mat-paginator class="page" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>
