.shipping-card {    
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.field-width {
    width: 30%;
}

.login{
    padding-right: 28%;
    color:blue;
}


@media screen and (max-width: 600px) {
    .field-width {
      width: 70%; 
    }
    .shipping-card { 
        padding-top: 0.5em;
    }
    .login{
        padding-right: 65%;
    }
}

