<form [formGroup]="movieForm">
    <div class="spinner" *ngIf="isSpinnerVisible">
        <mat-spinner></mat-spinner>
    </div>
    <div class="left">
        <div>
            <mat-form-field appearance="outline" >
                <mat-label>Movie name</mat-label>
                <input type="text" matInput placeholder="Movie Name" formControlName="name" >             
                <mat-error *ngIf="movieForm.controls['name'].hasError('required')">
                    Movie name <strong>required</strong>
                </mat-error>                                                       
            </mat-form-field>
        </div>
        <div>
            <button  mat-raised-button color="primary" [disabled] = "!movieForm.valid" (click)="addmovie()" >Add Movie</button>
        </div>
    </div>
    <div class="right">
        <app-moviesearch></app-moviesearch>
    </div>
</form>
