.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: right;
}

.mat-form-field {
  margin-left: 1em;
}

.button{
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
    .left {
      width: 100%; 
    }
    .right {
        width: 100%;
    }
}