.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: right;
}
@media screen and (max-width: 600px) {
    .left {
      width: 100%; 
    }
    .right {
        width: 100%; 
      }
}